/* Colours */
// Validation
$c-green:#33CF27;

// Neutral
$c-bodygrey:#595959;

/* Typography */
$fs-html: 62.5%;
$fs-p: rem(16px);

// Weights
$w-medium:400;

// Line height
$lh-body: 100%;
$lh-p: 1.5em;

// Vertical spacing
$vs-mod: rem(8px);

// Other
$gutter:rem(15px);